<!DOCTYPE html>

<html>
    <head>
        <title><%= title %> | Page</title>
        <script src="js/bootstrap.js"></script>
        <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src="js/ace/theme-monokai.js"></script> -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <style type="text/css" media="screen">
          #editor {
            width: 98%;
            height: 40rem;
          }
      </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark bg-gradient">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                  <a class="nav-link text-white" href="#">Features</a>
                  <a class="nav-link text-white" href="#">Pricing</a>
                  <a class="nav-link text-white" >Disabled</a>
                </div>
              </div>
            </div>
          </nav>
        <div class="form mx-2">
            <div class="d-flex mb-3 col-12">
              <div class="col-4 mx-1">
                  <label class="form-label" for="language">Language</label>
                  <select class="form-select" id="language" onchange="changeLang()">
                      <option selected>Select Language</option>
                      <option value="c">C</option>
                      <option value="cpp">C++</option>
                      <option value="java">Java</option>
                      <option value="js">Javascript (Node)</option>
                      <option value="python">Python</option>
                  </select>
              </div>
              <div class="col-4 mx-1">
                <label class="form-label" for="theme">Theme</label>
                <select class="form-select" id="theme" onchange="changeTheme()">
                  <option selected>Select a Theme</option>
                </select>
              </div>
            </div>
            <div id="editor" class="my-2 mx-2">//Code goes here.......
            </div>
            <button class="btn btn-primary" id="compile_button">Compile</button>
            <hr />
            <div class="mb-3 mx-2">
              <label for="code" class="form-label">Result</label>
              <textarea class="form-control" id="result" rows="10" disabled></textarea>
          </div>
        </div>
        <hr />
        
        
        
       
    </body>
    <script src="js/compile.js"></script>
    <script>
     
    </script>
</html>